{{#if this.siteSettings.thumbnail_toggle_enabled}}
  {{#if this.currentUser.admin}}
    <button class="btn-icon toggle-thumbnail-btn admin-control" title={{i18n (if this.context.topic.tlp_show_thumbnail "thumbnail_toggle.hide" "thumbnail_toggle.show")}} {{on "click" (action "toggleThumbnail")}}>
      {{d-icon (if this.context.topic.tlp_show_thumbnail "far-image-slash" "far-image")}}
      <span class="sr-only">{{i18n (if this.context.topic.tlp_show_thumbnail "thumbnail_toggle.hide" "thumbnail_toggle.show")}}</span>
    </button>
  {{/if}}
{{/if}} 